.full-width-table {
  width: 100%;
  margin-top: 20px;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-buttons {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}
